/*Universal Syles*/

html {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

body {
  line-height: 1;
}

a {
  color: #64a8a6;
}

h2 {
  font-size: 2.75rem;
  font-weight: 900;
}

.description h4 {
  font-size: 2rem;
  font-weight: bold;
  color: #696969;
}

.description span {
  font-family: "Roboto+Slab", serif;
  font-weight: 400;
  font-size: 1.25rem;
  padding: 0.5rem 0;
}

.description p {
  font-family: "Lora", serif;
  font-weight: 400;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.3;
}

/*Header*/

.mobileNav {
  display: none;
}

.col1 {
  color: #64a8a6;
  font-weight: 500;
}

.col2 {
  opacity: 0.4;
  font-weight: 400;
}

header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.desktopNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 400;
}

.logo img {
  height: 50px;
}

.title span {
  padding-left: 0.15rem;
}

.desktopNav nav {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
}

.desktopNav nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
  letter-spacing: 0.01em;
  line-height: 1.6;
}

nav a {
  text-decoration: none;
}

nav li:hover {
  transition: all 100ms ease-in-out;
  transform: scale(1.02);
}

ul {
  list-style: none;
}

/*Header Mobile*/

@media (max-width: 760px) {
.desktopNav {
  display: none;
}

.mobileNav {
  display: flex;
  width: 100%;
}

.mobileNav nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.mobileNav nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
}

/*Banner*/

banner {
  display: flex;
  background-color: #333;
}

.bannerImg {
  width: 60%;
  padding: 1.5rem 0 1.5rem 2rem;
}

.bannerImg img {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.4);
}

banner .learn {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 3.5rem;
}

.learn .headline h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 0.9;
  color: #fff;
}

.learn .headline h3 {
  font-size: 2rem;
  font-weight: 500;
  padding-top: 1.25rem;
  opacity: 0.90;
  color: #F5F5F5;
}

 .startBtn {
  display: flex;
  justify-content: center;
  background-color: #64a8a6;
  /*align-items: center;*/
  padding: 1.25rem 0;
  margin-top: 2rem;
  font-size: 1.75rem;
  /*border: 2px solid #696969;*/
  width: 70%;
  /*box-shadow: 0px 4px 10px rgba(0,0,0,0.9);*/
  border-radius: 6px;
  text-shadow: rgba(0,0,0,0.5) 0px -1px 0px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
}

.startBtn a {
  color: #dafffe;
  font-weight: bold;
  text-decoration: none;
}

/*.startBtn:hover {
  transition: all 100ms ease-in-out;
  transform: scale(1.03);
}*/

.startBtn:hover {
	background-color: #73c2c0;
}
.startBtn:active {
	background-color: #5a9896;
	box-shadow: 0px 0px 0px 1px #589391 inset, 0px 0px 0px 2px #65a9a7 inset, 0px 1px 0px 0px #355655, 0px 3px 0px 0px rgba(0,0,0,.15);
}

/*Banner Mobile*/

@media (max-width: 1000px) {
banner {
  flex-wrap: wrap;
}

.bannerImg {
  width: 100%;
  margin: 0;
  padding: 0;
}

.bannerImg img {
  border-radius: 0px;
  box-shadow: 0 0 0;
}

banner .learn {
  width: 90%;
  align-items: center;
  padding-left: 28px;
}

.learn .headline {
  width: 90%;
  align-items: center;
}

.learn .headline h1 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 0.9;
  padding: 1rem 0;
}

.learn .headline h3 {
  font-size: 1.75rem;
  font-weight: 500;
  padding: 0;
}

.learn .startBtn {
  width: 50%;
  margin: 1.5rem 0 2rem 0;
}

.learn .startBtn a {
  font-weight: 500;
  font-size: 1.25rem;
}
}

/*Information*/

.articleImages .mobile {
  display: none;
}

.information {
  display: flex;
  background-color: #FAFAFA;
}

.information .main {
  width: 60%;
  margin: 1rem 2rem;
  padding-bottom: 2rem;
}

.main img {
  width: 100%;
  margin-top: 1rem;
  border-radius: 20px;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.3);
}

.mainInfo {
  padding-right: 2rem;
}

.mainInfo h2 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  color: #e65440;
}

.mainInfo p {
  padding: 0 0 1rem 0;
  line-height: 1.3;
}

.mainInfo span {
  font-family: "Roboto+Slab", serif;
  font-size: 0.95rem;
  color: #5d5d5d;
}

.list.container {
  width: 40%;
  border-left: 2px solid lightgray;
  display: flex;
  flex-direction: column;
  padding-top: 0.05rem;
  padding-bottom: 2rem;
}

.articleList .article {
  display: flex;
  width: 100%;
  border-bottom: 2px solid lightgrey;
}

.articleImages {
  padding: 1rem;
  width: 35%;
}

.articleImages img {
  width: 100%;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
  border-radius: 7px;
}

.articleList .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1;
  width: 65%;
  padding-left: 0.6rem;
}

.article:hover {
  background-color: #C4D8E2;
  transition: background-color 0.6s ease-in-out;
}

/*Information Mobile*/

@media (max-width: 780px) {
.main {
  display: none;
}

.article:hover {
  none;
}

.list.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-top: 0;
  border: none;
}

.articleList {
  margin: 1rem;
}

.articleList .article {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid lightgrey;
}

.articleImages {
  width: 100%;
  padding: 1rem 0;
}

.articleImages .desktop {
  display: none;
}

.articleImages .mobile {
  display: block;
}


.description a {
  text-decoration: none;
  padding-bottom: 10px;
}
}

/*Courses*/

.mobileCourses {
  display: none;
}

.majors.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3C3C3C;
}

.majors.container h2 {
  color: #fff;
  padding: 2rem 0;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;
}

.course {
  width: 25%;
  margin: 1rem;
  background-color: #fff;
  border-radius: 10px 10px;
}

.course:hover {
  box-shadow: 0px 0px 3px #000;
  transition: all 200ms ease-in;
  transform: scale(1.05);
}

.course img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.description a {
  color: #0072ab;
}

.course .description {
  padding: 1rem 0 1.5rem 1rem;
}

.course .description h4 {
  padding-bottom: 0.5rem;
}

.course .description p {
  width: 90%;
  line-height: 1.2;
}

/*Courses Mobile*/

@media (max-width: 895px) {
.courses {
  display: none;
}

.majors {
  padding-bottom: 2rem;
}

.mobileCourses {
  display: block;
  width: 90%;
}

.mobileCourse {
  margin-bottom: 0.5rem;
  text-align: center;
}

.mobileCourse h4 {
  font-size: 1.25rem;
  color: #F72F6D;
  background-color: #fff;
  padding: 1rem 0 1rem 1.5rem;
  border-radius: 10px;
  transition: color 350ms ease-in-out 100ms;
}

.mobileCourse h4:hover {
  color: #fff;
  background-color: #F72F6D;
}
}

/*Thesis*/

.thesis.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.thesis h2 {
  padding: 2rem 0;
  color: #3C3C3C;
}

.exhibit {
  display: flex;
  width: 100%;
  background-color: #fff;
}

.exhibit .video {
  width: 60%;
  margin: 0 1rem 1rem 1.5rem;
}

.video video {
  width: 100%;
}

.exhibit .thesisList {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.thesisArticle {
  display: flex;
  width: 100%;
}

.thesisImage {
  width: 35%;
  padding: 1rem;
}

.thesisImage img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
}

.thesisArticle .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thesisArticle .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.4;
  width: 65%;
  padding-left: 0.6rem;
}

.highlighted {
  background-color: #F5F5F5;
}

/*Thesis Mobile*/

@media only screen and (max-width: 895px) {
.exhibit .thesisList {
  display: none;
}

.exhibit .video {
  width: 100%;
  margin: 0;
  margin-bottom: 1.5rem;
}

.video .description {
  display: none;
}
}

/*Footer*/

footer {
  font-family: "Source+Sans+Pro", sans-serif;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
}

.legal a {
  padding-left: 0.5rem;
  text-decoration: none;
  color: #0072ab;
}

/*Footer Mobile*/

@media only screen and (max-width: 760px) {
footer .legal {
  display: none;
}

footer {
  display: block;
  font-size: 0.75rem;
  padding: 1rem 0;
}

footer p {
  text-align: center;
}
}
