/*Universal Syles*/

html {
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
}

body {
  line-height: 1;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
}

/*Header*/

.col1 {
  color: #0072ab;
  font-weight: 600;
}

.col2 {
  opacity: 0.4;
  font-weight: 500;
}

header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.desktopNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 400;
}

.logo img {
  height: 50px;
}

.title span {
  padding-left: 0.15rem;
}

.desktopNav nav {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
}

.desktopNav nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
  letter-spacing: 0.01em;
  line-height: 1.6;
}

nav a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*Banner*/

banner {
  display: flex;
  background-color: #c2c2c2;
}

.bannerImg {
  width: 60%;
  padding: 1.5rem 0 1.5rem 2rem;
}

.bannerImg img {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

banner .learn {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 3.5rem;
}

.learn .headline h1 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  opacity: 0.75;
}

.learn .headline h3 {
  font-size: 1.75rem;
  font-weight: 500;
  padding-top: 1.25rem;
  line-height: 1.1;
  opacity: 0.75;
}

 .startBtn {
  display: flex;
  justify-content: center;
  background-color: #000;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
  width: 8rem;
}

/*Information*/

.information {
  display: flex;
  background-color: #fff;
}

.information .main {
  width: 60%;
  margin: 1rem 2rem;
  padding-bottom: 2rem;
}

.main img {
  width: 100%;
  margin-top: 1rem;
  border-radius: 20px;
}

.mainInfo {
  padding-right: 2rem;
}

.mainInfo h2 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.mainInfo p {
  padding: 0 0 1rem 0;
  line-height: 1.3;
}

.list.container {
  width: 40%;
  border-left: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.articleList .article {
  display: flex;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding-left: 0.6rem;
}

.articleImages img {
  padding: 1rem;
  width: 30%;
  border-radius: 30px;
}

.description h4 {
  font-size: 2rem;
  font-weight: bold;
}

.description p {
  font-weight: 400;
  padding: 0.5rem 0 0.5rem 0;
  line-height: 1.3;
}

.articleList .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1;
  width: 65%;
  padding-left: 0.6rem;
}
