/*Universal Syles*/

html {
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
}

body {
  line-height: 1;
}

/*Header*/

.col1 {
  color: #0072ab;
  font-weight: 600;
}

.col2 {
  opacity: 0.5;
  font-weight: 500;
}

header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.desktopNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
}

.logo .title {
  font-size: 1.25rem;
  font-weight: 400;
}

.title span {
  padding-left: 0.15rem;
}

.desktopNav nav {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
}

.desktopNav nav ul {
  display: flex;
}

.desktopNav li {
  padding-left: 1rem;
}

ul {
  list-style: none;
}

/*Banner*/

banner {
  display: flex;
  background-color: #c2c2c2;
}

.bannerImg {
  width: 50%;
  padding: 2rem 2.5rem 2rem 1.5rem;
}

.bannerImg img {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

banner .learn {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 3.5rem;
}

.learn .headline h1 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  opacity: 0.75;
}

.learn .headline h3 {
  font-size: 1.75rem;
  font-weight: 500;
  padding-top: 1.25rem;
  line-height: 1.1;
  opacity: 0.75;
}

 .startBtn {
  display: flex;
  justify-content: center;
  background-color: #000;
  align-items: center;
  padding: 1rem;
  margin: 2rem 5.5rem;
  width: 8rem;
  border-radius: 10px;
}

/*Information*/

.information {
  display: flex;
  background-color: #fff;
}

.infoMain img {
  width: 50%;
}
